Body,html {
    Padding:0;
    Margin:0;
}

.image-preview {
    width: 600px;
    min-height: 200px;
    border: 2px solid #dddddd;
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
    display: none;
    width: 100%;
}

.image-response {
    display: none;
    width: 100%;
}

.container {
Margin:0 auto;
Width:100%;
Max-width: 800px;
}