[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "==3.15.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
werkzeug = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
