[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "==3.15.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
werkzeug = "==0.16.0"
python-dotenv = "*"
flask-uploads = {ref = "master", git = "https://github.com/maxcountryman/flask-uploads.git"}
aws-sam-cli = "*"
markupsafe = "==2.0.1"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.8"
